---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Public">
  <div class="px-8 xl:px-16 py-6 xl:py-12 flex flex-col gap-6 xl:gap-12">
    <h1 class="text-4xl font-bold font-heading">Public</h1>
  </div>
</Layout>
