---
import Layout from "../../layouts/Layout.astro";
import Story from "../../context/story/components/Story.astro";
---

<Layout title="Adventure Time - Story">
  <h1 class="text-4xl font-bold font-heading px-8 xl:px-16 py-8 xl:py-16">
    Current Story
  </h1>
  <Story />
</Layout>
