---
const { href, as } = Astro.props;

let className = "";

switch(as) {
    case "button":
        className = "inline-flex items-center justify-center h-10 gap-2 px-5 text-sm font-medium  text-white transition duration-300 rounded shadow-md focus-visible:outline-none whitespace-nowrap bg-teal-500 shadow-teal-200 hover:bg-teal-600 hover:shadow-sm hover:shadow-teal-200 focus:bg-teal-700 focus:shadow-sm focus:shadow-teal-200 disabled:cursor-not-allowed disabled:border-teal-300 disabled:bg-teal-300 disabled:shadow-none";
        break;
    default:;
}
---

<a
  href={href}
  class={className}
>
  <span>
    <slot>Link</slot>
  </span>
</a>

