<section class="relative mx-auto">
  <nav
    class="flex items-center justify-between gap-5 xl:gap-12 bg-gray-900 text-white w-screen px-5 xl:px-12 py-6"
  >
    <a href="/">
      <slot name="logo">
        <span class="text-3xl font-bold font-heading">Logo</span>
      </slot>
    </a>

    <div class="flex gap-5 xl:gap-12 font-semibold font-heading">
      <slot name="action">Action not found</slot>
    </div>
  </nav>
</section>
